::-moz-selection {
    /* Code for Firefox */
    background-color: #b01afe;
    color: #fff;
}

::selection {
    background-color: #b01afe;
    color: #fff;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #777777;
    font-weight: 300;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #777777;
    opacity: 1;
    font-weight: 300;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #777777;
    opacity: 1;
    font-weight: 300;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #777777;
    font-weight: 300;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #777777;
    font-weight: 300;
}

body {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.625em;
    position: relative;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

select {
    display: block;
}

figure {
    margin: 0;
}

a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

iframe {
    border: 0;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    outline: 0;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    text-decoration: none;
    outline: 0;
}

.card-panel {
    margin: 0;
    padding: 60px;
}

/**
 *  Typography
 *
 **/
.btn i,
.btn-large i,
.btn-floating i,
.btn-large i,
.btn-flat i {
    font-size: 1em;
    line-height: inherit;
}

.gray-bg {
    background: #f9f9ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 600;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: #222222;
}

h1,
.h1 {
    font-size: 36px;
}

h2,
.h2 {
    font-size: 30px;
}

h3,
.h3 {
    font-size: 24px;
}

h4,
.h4 {
    font-size: 18px;
}

h5,
.h5 {
    font-size: 16px;
}

h6,
.h6 {
    font-size: 14px;
    color: #222222;
}

td,
th {
    border-radius: 0px;
}

.header-btn {
    background-color: #fff;
    padding: 8px 40px;
    font-weight: 600;
    color: #222;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    border-radius: 20px;
    margin-top: 30px;
    display: inline-block;
}

.header-btn:hover {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
}

.sobreNos-btn {
    padding: 8px 40px;
    font-weight: 600;
    color: #005400;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
    border: 3px solid #005400;
    border-radius: 20px;
    margin-top: 30px;
    display: inline-block;
    background: transparent;
}

.sobreNos-btn:hover {
    background-color: #005400;
    color: #fff;
}

.atividades-btn {
    padding: 8px 60px;
    font-weight: 600;
    color: #fff;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
    border: 3px solid #005400;
    border-radius: 20px;
    margin-top: 30px;
    display: inline-block;
    background-color: #005400;
}

.atividades-btn:hover {
    color: #005400;
    background: transparent;
}

.atividades-img {
    height: 422px;
    width: 329px;
    border-radius: 20px;
}

.feedback-bg {
    background-color: #F2F4F6;
}

.feedback-col-bg {
    text-align: justify;
    padding: 30px 15px 15px;
    background-color: #fff;
    width: 343px;
    height: 300px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.feedback-aspas {
    margin-left: 20px;
    margin-top: -26px;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 35px;
    justify-content: center;
    width: 53px;
    height: 53px;
    background-color: #00540040;
    border-radius: 20px;
    color: #005400;
}

.blog-block {
    width: 343px;
    height: 433px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.blog-foto {
    border-radius: 10px;
    width: 343px;
    height: 250px;
}

.imagens-pi {
    width: 200px;
    height: 250px;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.1);
}

.navbar-nav a {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 20px;
}

.progress-table-wrap {
    overflow-x: scroll;
}

@media (max-width: 992px) {
    .navbar-nav {
        margin-top: 10px;
    }

    .navbar-nav a {
        padding: 0;
    }

    .navbar-nav li {
        padding: 15px 0;
    }
}

.section-gap {
    padding: 50px 0;
}

.section-title {
    padding-bottom: 30px;
}

.section-title h2 {
    margin-bottom: 20px;
}

.section-title p {
    font-size: 16px;
    margin-bottom: 0;
}

@media (max-width: 991px) {
    .section-title p br {
        display: none;
    }
}

@media (max-width: 992px) {
    .navbar-nav {
        height: auto;
        max-height: 400px;
        overflow-x: hidden;
    }
}

.colorGreen {
    color: #005400;
}

.ftco-counter {
    overflow-x: hidden;
    position: relative;
    padding: 4em 0;
    background: #D6F3D1;
}

@media (max-width: 1199.98px) {
    .ftco-counter {
        background-position: center center !important;
    }
}

.ftco-counter .block-18 {
    display: block;
    width: 100%;
}

@media (max-width: 991.98px) {
    .ftco-counter .block-18 {
        margin-bottom: 2em;
    }
}

.ftco-counter .text {
    position: relative;
}

@media (max-width: 767.98px) {
    .ftco-counter .text {
        width: 100%;
    }
}

.ftco-counter .text .number {
    line-height: 1;
    font-weight: 700;
    font-size: 50px;
    color: black;
    display: block;
    margin-bottom: 10px;
}

.ftco-counter .text span {
    font-size: 17px;
    color: black;
}

@media (max-width: 767.98px) {
    .ftco-counter .counter-wrap {
        margin-bottom: 20px;
    }
}

.section-bg {
    background: #f9fafc;
}

#section-counter {
    position: relative;
    z-index: 0;
}

.transition {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.section-full {
    padding: 100px 0;
}

.section-half {
    padding: 75px 0;
}

.section-top-border {
    padding: 70px 0;
    border-top: 1px dotted #eee;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.block-21 .text {
    width: calc(100% - 100px);
}

.block-21 .text .heading {
    font-size: 16px;
    font-weight: 400;
}

.block-21 .text .heading a {
    color: #000000;
}

.block-21 .text .heading a:hover,
.block-21 .text .heading a:active,
.block-21 .text .heading a:focus {
    color: #00bd56;
}

.block-21 .text .meta>div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
}

.block-21 .text .meta>div a {
    color: gray;
}

.dbox .text {
    width: 100%;
}

.blog-entry {
    background: #fff;
    -webkit-box-shadow: 0px 10px 18px -8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 10px 18px -8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 18px -8px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
    .blog-entry {
        margin-bottom: 40px;
    }
}

@media (max-width: 767.98px) {
    .blog-entry {
        margin-bottom: 30px;
    }
}

.blog-entry .text {
    position: relative;
    border-top: 0;
    border-radius: 2px;
}

.blog-entry .text .tag {
    color: #b3b3b3;
}

.blog-entry .text .heading {
    font-size: 18px;
    margin-bottom: 16px;
    font-weight: 400;
}

.blog-entry .text .heading a {
    color: #000000;
}

.blog-entry .text .heading a:hover,
.blog-entry .text .heading a:focus,
.blog-entry .text .heading a:active {
    color: #00bd56;
}

.blog-entry .text .meta-chat {
    color: #00bd56;
}

.blog-entry .text .read {
    color: #000000;
    font-size: 14px;
}

.default-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.default-header {
    background-color: transparent;
    width: 100% !important;
}

@media (max-width: 992px) {
    .default-header {
        background-color: #222;
    }
}

.sticky-wrapper {
    height: 48px !important;
}

.is-sticky .default-header {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #222;
}

.text-white {
    color: #fff;
}

.single-feature:hover a,
.single-feature:hover .title .lnr {
    color: #fff;
}

.single-feature .title .lnr {
    color: #222;
    font-weight: 400;
    margin-right: 12px;
    font-size: 20px;
}

.gallery-area .lnr-arrow-up,
.gallery-area .lnr-arrow-down {
    background-color: white;
    box-shadow: -14.142px 14.142px 20px 0px rgba(157, 157, 157, 0.2);
    padding: 14px;
    color: #000;
    font-weight: 500;
    border: 1px solid #f5f5f5;
    display: inline-flex;
}

.container.fullwidth {
    width: 100%;
}

.container.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding {
    padding: 0;
}

.button-area {
    background: #fff;
}

.button-area .border-top-generic {
    padding: 70px 15px;
    border-top: 1px dotted #eee;
}

.button-group-area .genric-btn {
    margin-right: 10px;
    margin-top: 10px;
}

.button-group-area .genric-btn:last-child {
    margin-right: 0;
}

.generic-banner {
    text-align: center;
}

.generic-banner .height {
    height: 600px;
}

@media (max-width: 767px) {
    .generic-banner .height {
        height: 400px;
    }
}

.generic-banner .generic-banner-content h2 {
    line-height: 1.2em;
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .generic-banner .generic-banner-content h2 br {
        display: none;
    }
}

.generic-banner .generic-banner-content p {
    text-align: center;
    font-size: 16px;
}

@media (max-width: 991px) {
    .generic-banner .generic-banner-content p br {
        display: none;
    }
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.default-banner {
    margin-top: -48px;
}

@media (max-width: 991px) {
    .default-banner {
        text-align: center;
    }
}

.default-banner h1 {
    color: #222;
    font-size: 72px;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 10px;
}

.default-banner h1 span {
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width: 991px) {
    .default-banner h1 {
        font-size: 36px;
    }
}

@media (max-width: 991px) {
    .default-banner h1 br {
        display: none;
    }
}

@media (max-width: 1199px) {
    .default-banner h1 {
        font-size: 45px;
    }
}

@media (max-width: 414px) {
    .default-banner h1 {
        font-size: 40px;
    }
}

@media (max-width: 800px) {
    .default-banner {
        padding-bottom: 40px;
    }
}

.relative {
    position: relative;
}

.video-area .overlay-bg {
    opacity: .6;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.p1-gradient-bg,
.primary-btn,
.primary-btn2:hover,
.single-feature:hover,
.video-area .overlay-bg,
.single-footer-widget .click-btn,
.generic-banner {
    background-image: -moz-linear-gradient(0deg, #b21aff 0%, #732bde 100%);
    background-image: -webkit-linear-gradient(0deg, #b21aff 0%, #732bde 100%);
    background-image: -ms-linear-gradient(0deg, #b21aff 0%, #732bde 100%);
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-rigth {
    text-align: right;
}

.clear::before,
.clear::after {
    content: " ";
    display: table;
}

.clear::after {
    clear: both;
}

.fz-11 {
    font-size: 11px;
}

.fz-12 {
    font-size: 12px;
}

.fz-13 {
    font-size: 13px;
}

.fz-14 {
    font-size: 14px;
}

.fz-15 {
    font-size: 15px;
}

.fz-16 {
    font-size: 16px;
}

.fz-18 {
    font-size: 18px;
}

.fz-30 {
    font-size: 30px;
}

.fz-48 {
    font-size: 48px !important;
}

.fw100 {
    font-weight: 100;
}

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400 !important;
}

.fw500 {
    font-weight: 500;
}

.f700 {
    font-weight: 700;
}

.fsi {
    font-style: italic;
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-35 {
    margin-top: 35px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-58 {
    margin-top: 58px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-120 {
    margin-top: 50px;
    margin-bottom: 0px;
}

.mt-150 {
    margin-top: 150px;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-5 {
    margin-left: 5px !important;
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-20 {
    margin-left: 20px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-140 {
    margin-left: 140px;
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-5 {
    margin-right: 5px !important;
}

.mr-15 {
    margin-right: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-20 {
    margin-right: 20px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-50 {
    margin-right: 50px;
}

.mb-0 {
    margin-bottom: 0px;
}

.mb-0-i {
    margin-bottom: 0px !important;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.pt-0 {
    padding-top: 0px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-40 {
    padding-top: 40px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-60 {
    padding-top: 60px;
}

.pt-70 {
    padding-top: 70px;
}

.pt-80 {
    padding-top: 80px;
}

.pt-90 {
    padding-top: 90px;
}

.pt-100 {
    padding-top: 100px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-150 {
    padding-top: 150px;
}

.pt-170 {
    padding-top: 170px;
}

.pb-0 {
    padding-bottom: 0px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-40 {
    padding-bottom: 40px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-60 {
    padding-bottom: 60px;
}

.pb-70 {
    padding-bottom: 70px;
}

.pb-80 {
    padding-bottom: 80px;
}

.pb-90 {
    padding-bottom: 90px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pb-150 {
    padding-bottom: 150px;
}

.pr-30 {
    padding-right: 30px;
}

.pl-30 {
    padding-left: 30px;
}

.pl-90 {
    padding-left: 90px;
}

.p-40 {
    padding: 40px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.info-area .info-thumb {
    overflow: hidden;
    display: inline-block;
}

@media (max-width: 800px) {
    .info-area .info-content {
        text-align: center;
        padding: 80px 30px 80px 0;
    }
}

.info-area .info-content {
    box-shadow: 0px 0px 50px 0px rgba(157, 157, 157, 0.3);
    position: relative;
    background: #fff;
    padding: 50px 80px 40px 40px;
}

@media (max-width: 575px) {
    .info-area .info-content {
        margin-top: 30px;
    }
}

.info-area .info-content:after {
    content: "";
    box-shadow: -35.355px 35.355px 50px 0px rgba(157, 157, 157, 0.3);
    position: absolute;
    right: 100%;
    top: 0;
    background: #fff;
    width: 50px;
    height: 100%;
}

@media (max-width: 991px) {
    .info-area .info-content:after {
        width: 50px;
    }
}

@media (max-width: 575px) {
    .info-area .info-content:after {
        display: none;
    }
}

@media (max-width: 991px) {
    .info-area .info-content {
        padding: 30px 30px 30px 0;
    }
}

@media (max-width: 575px) {
    .info-area .info-content {
        padding: 30px;
    }
}

.info-area .info-content h1 {
    line-height: 1.15em;
    margin-bottom: 30px;
}

.info-area .info-content .meta {
    color: #222;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
}

.info-area .info-left {
    z-index: 2;
}

@media (max-width: 800px) {
    .info-area .info-left {
        margin-top: 0px;
        margin-bottom: 40px;
    }
}

.about-generic-area {
    background: #fff;
}

.about-generic-area p {
    margin-bottom: 20px;
}

.footer {
    background: #D6F3D1;
    position: relative;
    z-index: 0;
    overflow: hidden;
    padding: 7em 0;
}

.footer a {
    color: #00bd56;
}

.footer p {
    color: black;
}

.footer .copyright {
    color: rgba(255, 255, 255, 0.3);
    color: black;
}

.footer .footer-heading {
    font-size: 22px;
    margin-bottom: 30px;
    font-weight: 700;
    color: black;
    position: relative;
}

.footer .footer-heading:after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 40px;
    height: 4px;
    background: #00bd56;
}

.footer ul.list-unstyled li a {
    color: black;
}

.footer .block-21 .img {
    display: block;
    height: 80px;
    width: 80px;
}

.footer .block-21 .text {
    width: calc(100% - 100px);
}

.footer .block-21 .text .heading {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
}

.footer .block-21 .text .heading a {
    color: black;
}

.footer .block-21 .text .heading a:hover,
.footer .block-21 .text .heading a:active,
.footer .block-21 .text .heading a:focus {
    text-decoration: none;
}

.footer .block-21 .text .meta>div {
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
}

.footer .block-21 .text .meta>div a {
    color: black;
}

.footer .block-23 ul li {
    color: black;
}

.footer .block-23 ul li a {
    color: black;
}

.footer .block-23 ul li .icon {
    color: black;
}

.footer .ftco-footer-social li a {
    background: white;
    color: #00bd56;
}

.ftco-footer-social li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.ftco-footer-social li a {
    height: 40px;
    width: 40px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    position: relative;
}

.ftco-footer-social li a span {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.ftco-footer-social li a:hover {
    color: black;
}

.footer-small-nav>li {
    display: inline-block;
}

.footer-small-nav>li a {
    margin: 0 10px 10px 0;
}

.footer-small-nav>li a:hover,
.footer-small-nav>li a:focus {
    color: #00bd56;
}

.block-23 ul {
    padding: 0;
}

.block-23 ul li,
.block-23 ul li>a {
    display: table;
    line-height: 1.5;
    margin-bottom: 15px;
}

.block-23 ul li span {
    color: black;
}

.block-23 ul li .icon,
.block-23 ul li .text {
    display: table-cell;
    vertical-align: top;
}

.block-23 ul li .icon {
    width: 40px;
    font-size: 18px;
    padding-top: 2px;
    color: white;
}

.modal-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.modal-footer> :not(:first-child) {
    margin-left: .25rem;
}

.modal-footer> :not(:last-child) {
    margin-right: .25rem;
}

.ftco-section {
    padding: 7em 0;
    position: relative;
}

@media (max-width: 767.98px) {
    .ftco-section {
        padding: 6em 0;
    }
}

.bg-light {
    background: #f8f9fd !important;
}

.bg-light {
    background-color: #f8f9fa !important;
}

a.bg-light:hover,
a.bg-light:focus,
button.bg-light:hover,
button.bg-light:focus {
    background-color: #dae0e5 !important;
}

@media (min-width: 768px) {
    .d-md-none {
        display: none !important;
    }

    .d-md-inline {
        display: inline !important;
    }

    .d-md-inline-block {
        display: inline-block !important;
    }

    .d-md-block {
        display: block !important;
    }

    .d-md-table {
        display: table !important;
    }

    .d-md-table-row {
        display: table-row !important;
    }

    .d-md-table-cell {
        display: table-cell !important;
    }

    .d-md-flex {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .d-md-inline-flex {
        display: -webkit-inline-box !important;
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

.order-md-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
}


.ftco-faqs .img {
    height: 250px;
    -webkit-box-shadow: 0px 8px 21px -10px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 8px 21px -10px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 8px 21px -10px rgba(0, 0, 0, 0.12);
}

.ftco-faqs .img.img-2 {
    height: 250px;
}

.ftco-faqs .myaccordion {
    margin: 0 auto;
    overflow: hidden;
}

.ftco-faqs .myaccordion .card,
.ftco-faqs .myaccordion .card:last-child .card-header {
    border: none;
    background: transparent;
}

.ftco-faqs .myaccordion .card-header {
    border: none;
    background: transparent;
}

.ftco-faqs .myaccordion .card-header p {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    text-align: left;
}

.ftco-faqs .myaccordion .fa {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
}

.ftco-faqs .myaccordion .btn {
    width: 100%;
    font-weight: 600;
    color: black;
    padding: 0;
    text-transform: none;
    letter-spacing: 0;
    border-radius: 0 !important;
    margin-bottom: 10px;
    border-radius: 40px !important;
    -webkit-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
    -moz-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
    box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
}

.ftco-faqs .myaccordion .btn-link:hover,
.ftco-faqs .myaccordion .btn-link:focus {
    text-decoration: none;
}

.ftco-faqs [data-toggle="collapse"] .fa:before {
    content: "\f068";
    font-family: "FontAwesome";
    font-style: normal;
}

.ftco-faqs [data-toggle="collapse"].collapsed .fa:before {
    content: "\f067";
    font-family: "FontAwesome";
    font-style: normal;
}

.ftco-faqs button[aria-expanded="true"] {
    background-color: #006400;
    color: #fff !important;
}

.ftco-faqs button[aria-expanded="true"] .fa {
    color: #fff !important;
}

.ftco-faqs button[aria-expanded="false"] {
    background-color: #fff;
}

.ftco-faqs .card-body {
    background: #fff;
    margin-bottom: 10px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
    -moz-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
    box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.21) !important;
}

.ftco-faqs .card-body ol li {
    margin-bottom: 10px;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.8);
}

.ftco-faqs .card-body ol li:last-child {
    margin-bottom: 0;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
    .card-header:first-child {
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0; }
    .card-header + .list-group .list-group-item:first-child {
      border-top: 0; }